.myuser-base {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    font-weight: bold;
}

.myuser-legendary {
    background-clip: text;
    background-image: linear-gradient(135deg, rgb(99, 22, 22), rgb(247, 3, 3), rgb(247, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.myuser-red {
    color: red !important;
}

.myuser-fire {
    color: #FF6666 !important;
}

.myuser-orange {
    color: #FF8C00 !important;
}

.myuser-yellow {
    color: #EECC00 !important;
}

.myuser-purple {
    color: #DD00DD !important;
}

.myuser-violet {
    color: #FF99FF !important;
}

.myuser-blue {
    color: blue !important;
}

.myuser-cyan {
    color: #00CCCC !important;
}

.myuser-green {
    color: rgb(0, 255, 179) !important;
}

.myuser-gray {
    color: gray !important;
}

.myuser-admin {
    color: black !important;
}